extends layout.pug

block content
    h1 Bienvenido al Blog Personal
    h2 Crear nueva publicación
    form(action="/blog/create", method="POST")
        table 
            tr 
                td 
                    label(for="title") Título:
                td 
                    input(type="text", name="title", required)
            tr 
                td 
                    label(for="content") Contenido:
                td 
                    textarea(name="content", required)
        table 
            tr 
                td 
                    button(type="submit") Crear Publicación

    // Listado de publicaciones
    h2 Publicaciones
    each post, index in posts
        .post
            table 
                tr 
                    td 
                        h3 #{post.title}
                tr 
                    td 
                        p #{post.content}
                tr 
                    td 
                        p Autor: #{post.author}
                tr 
                    td 
                        if post.comments.length > 0 
                            h4 Comentarios:
                            ul
                                each comment in post.comments
                                    li
                                        p #{comment.author} - #{comment.date}
                                        p #{comment.content}
                        else
                            p No hay comentarios aún.
                tr 
                    td 
                        if post.author !== currentUser
                            form(action=`/blog/comment/${index}`, method="POST")
                                label(for="comment") Añadir comentario:
                                textarea(name="comment", required)
                                button(type="submit") Comentar
                        else
                            p No puedes agregar comentarios a tu propia publicación.
            table 
                tr 
                    td 
                        div.button-container
                            if post.author === currentUser
                                form(action=`/blog/delete/${index}`, method="POST")
                                    button(type="submit") Eliminar
                                a(href=`/blog/edit/${index}`, class="btn") Editar
    table 
        tr 
            td 
                a(href="/user/logout") Salir del Blog
